aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bson
certifi
cffi
chardet
charset-normalizer
class-registry
cloudinary
colorama
colorlog
comm
contourpy
cryptography
cryptojwt
cssselect
cssutils
cycler
dataclasses
dataframe_image
debugpy
decorator
defusedxml
design-django-theme
dj-database-url
Django
django-admin-search-builder
django-allauth
django-betterforms
django-ckeditor
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-datatables-ajax @ git+https://github.com/peppelinux/django-datatables-ajax.git@515f6e3b8ff07afb136da26da4c09cb881f7c02f
django-extensions
django-filter
django-js-asset
django-maintenance-mode
django-mapbox-location-field
django-model-utils
django-money
django-mptt
django-notifications-hq
django-sass-processor @ git+https://github.com/jrief/django-sass-processor.git@98e3757bb42f6a46e53fe1fe2a882f04b417d801
django-stdimage
django-taggit
django-unical-bootstrap-italia
djangorestframework
djangorestframework_simplejwt
djoser
dnspython
dominate
dotenv
drf-yasg
et_xmlfile
executing
fastjsonschema
filters
fonttools
fqdn
frozenlist
greenlet
h11
httpcore
httpx
idna
importlib_resources
inflection
ipykernel
ipynbname
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonfield
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
klearn
lark
libsass
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
micawber
mistune
more-itertools
mpmath
multidict
multimethod
mysqlclient
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-python
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
pillow
platformdirs
playwright
prometheus_client
prompt_toolkit
propcache
psutil
pure_eval
py-moneyed
pyarrow
pycparser
pyee
Pygments
PyJWT
pyparsing
python-bidi
python-dateutil
python-dotenv
python-fsutil
python-json-logger
python3-openid
pytz
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-oauthlib
rest-framework-simplejwt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
sentry-sdk
setuptools
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stack-data
statsmodels
structlog
swapper
terminado
threadpoolctl
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
vega-datasets
wcwidth
webcolors
webencodings
websocket-client
whitenoise
widgetsnbextension
yarl